<mat-card align="start">
  <div>
    <h1 class="welcome">Welcome to the greatest Trivia Game of all time</h1>

    <div class="intro">
      <div>How to play:</div>
      Make an account or log into a pre-existing account.
      <br>
      <br>
      Click the 'plus' icon in the nav bar to go to our game setup page.
      <br>
      <br>
      It is within this page you'll decide these main game factors:<br> 
          Category (general knowledge, books, film, music, musical/theatre, or all categories),<br>
          Difficulty (easy, medium, hard or mixed),<br>
          Type of question (true/false, multiple choice or both),<br>
          Number of players (solo players won't have any impact on overall games won or lost for that user's stats),<br>
          and lastly, you'll get to pick up to 3 other users to play in your game with you.
      <br>
      <br>
      The game will alternate which players answer which questions, where at the end of the gme the scores are tallied up.
      <br>
      <br>
      The game will calculate each player's statistics to determine where their weaknesses and strengths are, and uploading <br>their overall stats through previous games online.
      <br>
      <br>
      Ready to play?
      <br>
      <br>

      
    </div>

    <div class="logButton">
      <button mat-raised-button *ngIf="buttonRendered" (click)="loggingIn()">
        Login with Google
      </button>
    </div>
  </div>
</mat-card>
