:host {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .form {
    width: 20rem;
  }
  .form-control {
    display: block;
  }
  .form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mat-raised-button {
    background-color: #00850b;
    color: white;
  }
  .welcome {
    text-align: center;
    text-decoration: wavy;
    font-size: 30px;
  }
  .intro {
    text-align: center;
  }
  .logButton {
    display: flex;
    justify-content: center;
  } 
  .starting {
    display: block;
  }
  mat-card {
    background-color: rgba(0, 0, 0, 0.5);
    width: 80%;
  }