<mat-card align="start">
  <div>
    <h1 class="welcome">Welcome to the greatest Trivia Game of all time</h1>

    <p class="intro">
      You're in for a surprise here. That being said, you're not gonna be given
      any sort of description of this trivia challenge. There couldn't never be
      an individual mentally and psychologically prepared for what they would be
      going through after they create an account and log in. So hold onto your
      pants, cuz it's about to get crazy...
    </p>

    <div class="logButton">
      <button mat-raised-button (click)="loggingIn()">
        Login with Google....if you dare
      </button>
    </div>
  </div>
</mat-card>
