<mat-card main-container>
  <p>Nav bar goes here</p>
  <h2>{{ exampleUser[0].username }} Stats</h2>

  <table>
    <tr>
      <th>Win loss ratio</th>
      <th>Questions ratio</th>
      <th>Highlights</th>
    </tr>
    <tr>
        <td>Games Played: {{ exampleUser[0].stats.gamesPlayed }}</td>
        <td>Questions Answered: {{ exampleUser[0].stats.questionsAnswered }}</td>
        <td>Best category: {{ exampleUser[0].stats.bestCategory }} <br>
            Worst category: {{ exampleUser[0].stats.worstCategory }}
        </td>
    </tr>
    <tr>
        <td>
            <mat-progress-spinner value="{{ winLossPercent }}" mode="determinate" class='spinner1'>
            </mat-progress-spinner>
            <div style="position:relative; top: -45px; left: 50px;">{{winLossPercent}}%</div>
          </td>
          <td>
            <mat-progress-spinner
              value="{{ correctIncorrectPercent }}"
              mode="determinate"
              class="spinner2"
            >
            </mat-progress-spinner>
          </td>
          <td></td>
    </tr>
  </table>
</mat-card>
