<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="{{ photoURL }}" alt="User Photo" />
    <h1>{{ displayName }} Details</h1>
  </mat-card-header>
  <mat-card>
    <table>
      <tr>
        <th class="win-loss text-color">Win loss ratio</th>
        <th class="questions text-color">Questions ratio</th>
        <th class="highlights-header text-color">Highlights</th>
      </tr>
      <tr>
        <td>
          Games Played: {{ totalGames }} <br />
          Win rate: {{ winLossPercent }}%
          <mat-progress-spinner
            value="{{ winLossPercent }}"
            mode="determinate"
            class="spinner1"
            style="margin: 0 auto"
          >
          </mat-progress-spinner>
        </td>
        <td>
          Questions Answered: {{ questionsAnswered }}
          <br />
          Percent of questions correct: {{ correctIncorrectPercent }}%
          <mat-progress-spinner
            style="margin: 0 auto"
            value="{{ correctIncorrectPercent }}"
            mode="determinate"
            class="spinner2"
          >
          </mat-progress-spinner>
        </td>
        <td class="highlights">
          <span class="boldText">Best category:</span>
          <br />
          {{ bestCategory }} <br />
          <br />
          <span class="boldText">Worst category:</span>
          <br />
          {{ worstCategory }}
        </td>
      </tr>
    </table>
  </mat-card>
</mat-card>
