body {
  background-color: #91FF00;
}

td,
th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

:host ::ng-deep .spinner1 circle{   
  stroke: #FB00FF;
}

:host ::ng-deep .spinner2 circle{   
  stroke: #9900FF;
}